# .gitignore
# 1. Системные файлы Python
# Игнорируем папки с байт-кодом
__pycache__/
*.pyc

# 2. Виртуальное окружение
# Никогда не добавляем в Git зависимости, установленные через pip
venv_bearing/
.venv/

# 3. Данные проекта
# Игнорируем большие файлы данных и кэш
data/

# 4. Графики и картинки
plots/*.gif
plots/*.png

# 5. Логи
# Лог-файлы не являются частью исходного кода
logs/

# 6. Настройки редактора (хорошая практика)
# У каждого разработчика могут быть свои настройки
.vscode/
.idea/